<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head></h:head>
<body>

    Subject Pirelli with Id 5;
    
	<h:form>

		<h:messages errorClass="errorMessage" infoClass="infoMessage"
			warnClass="warnMessage"></h:messages>
		<h:panelGrid columns="2">
			<h:outputText    value="Email :"></h:outputText>
			<h:inputText     value="#{createCommentBean.email}" required="true" requiredMessage="Please Enter Username!"></h:inputText>
			
			<h:outputText    value="Comment :"></h:outputText>
			<h:inputTextarea value="#{createCommentBean.content}" />
		</h:panelGrid>
		<h:commandButton type="submit" value="OK"
			action="#{createCommentBean.createComment()}" />
	</h:form>
</body>
</html>
