<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head></h:head>
<body>
#{fora.pirelliComments[0].content}
	<h:dataTable id="table1" value="#{fora.pirelliComments}" var="comment">
		<f:facet name="header">
			<h:outputText value="Comments" />
		</f:facet>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Content" />
			</f:facet>
			<h:outputText value="#{comment.content}" />
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Ids" />
			</f:facet>
			<h:outputText value="#{comment.id}"/>
		</h:column>
		<h:column>
			<f:facet name="pics">
				<h:outputText value="Pics" />
			</f:facet>
			<h:graphicImage value="../images/user.png"/>
			&nbsp;&nbsp;
			<h:graphicImage value="../images/like.png" width = "40px" height= "40px"/>
			&nbsp;&nbsp;
			<h:graphicImage value="../images/dislike.png"/>
			&nbsp;&nbsp;
			<h:graphicImage value="../images/flag.jpg" />
			&nbsp;&nbsp;
				
		</h:column>
		<f:facet name="footer">
			<h:outputText value="Total: #{fora.count}" />
		</f:facet>
	</h:dataTable>
	<p></p>

	<h:form class="form-separator" style="margin-top:40px;">
		<h:commandButton value="Click">
			<f:actionListener type="io.robusta.fora.events.CommentEvent" />
		</h:commandButton>
	</h:form>
	
	<h:form>

		<h:messages errorClass="errorMessage" infoClass="infoMessage"
			warnClass="warnMessage"></h:messages>
		<h:panelGrid columns="2">
			<h:outputText    value="Email :"></h:outputText>
			<h:inputText     value="#{createCommentBean.email}" required="true" requiredMessage="Please Enter Username!"></h:inputText>
			
			<h:outputText    value="Comment :"></h:outputText>
			<h:inputTextarea value="#{createCommentBean.content}" />
		</h:panelGrid>
		<h:commandButton type="submit" value="OK"
			action="#{createCommentBean.createComment()}" />
			
	</h:form>
</body>
</html>
