<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="fora-comments-ejb">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/test"/>
        <property name="context-root" value="fora-comments-ejb"/>
        <property name="java-output-path" value="/fora-comments-ejb/bin"/>
    </wb-module>
</project-modules>
