<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 

<form method="post" action="/fora-comments-ejb/j_security_check">
                <h:panelGrid id="panel" columns="2" border="1">
                    <f:facet name="header">
                        <h:outputText value="Citation Login" />
                    </f:facet>
                    <h:outputLabel value="Username" />
                    <input type="text" name="j_username" size="25" />
                    <h:outputLabel value="Password" />
                    <input type="password" size="15" name="j_password" />
                    <f:facet name="footer">
                        <h:panelGroup
                            style="display:block; text-align:center">
                            <input type="submit"
                                value="OK" />
                        </h:panelGroup>
                    </f:facet>
                </h:panelGrid>
            </form>

</body> 
</html>
