<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"> 

<h:head></h:head> 
<body> 
	<h1>Hello #{citationBean.citation}</h1>
	<table>
 
   <ui:repeat var="comment" value="#{fora.pirelliComments}">
 
	<tr>
		<td>#{comment.content}</td>
		<td>#{comment.id}</td>
	</tr>
 
   </ui:repeat>
 
 
 
</table>
</body> 
</html>
